*{
			    -webkit-box-sizing: border-box;
			    box-sizing: border-box;
			    margin: 0;　
			    padding: 0;
				border: none;
}

body {	
/*font: normal 100% Helvetica, Arial, sans-serif;*/
    /*max-width: 750px;*/
    min-height: 100%;
    min-width: 320px;
    margin: 0;
    color: #666666;
    /*background-color: #f0f2f5;*/
   background-color: #fff;
    -webkit-overflow-scrolling: none;
    font-size: .3rem;
}
input:focus {
	outline: none;
}	
p{font-size: 1.5em;}

.index_canvas{position: fixed;width: 100%;top: 0;left: 0;bottom: 0;right: 0;height: 100%;z-index: -1;}
.font18 {font-size: .38571428rem;}
.cut_wrod{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
[clearfix] {
	zoom: 1;
}

[clearfix]:after {
	clear: both;
}

[clearfix]:after,
[clearfix]:before {
	content: '';
	display: table;
}

.header_nav-fix{
			height: .9rem;
		}
.header_nav{
			background-color: #2dc1b7;
		    height: .9rem;
		    line-height: .9rem;
		    color: #FFFFFF;
		    position: fixed;
		    z-index: 9999;
		    width: 100%;
		    /*width: 7.5rem;*/
		}
.header_nav .title{
		    text-align: center;
		    position: relative;

		}
.header_nav .title .return {
		    position: absolute;
		    left: 0px;
		    top: 0px;
		    width: .9rem;
		    height: .9rem;
		    background-image: url(../img/22.png);
		    background-repeat: no-repeat;
		    background-size: 30%;
		    background-position: center;
		    line-height: 100%;
		 }
.header_nav .title .rbtn {
		    position: absolute;
		    right: 0px;
		    top: 0px;
		    width: .9rem;
		    height: .9rem;
		    background-image: url(../img/108.png);
		    background-repeat: no-repeat;
		    background-size: 50%;
		    background-position: center;
		    line-height: 100%;
		    }
.header_nav .title .n-tit-box{
			display: inline-block;
		    width: 5.6rem;
		    height: .9rem;
		    overflow: hidden;
		    word-break: break-all;
		    font-size: 14px;
}
/*body:height=100%,overflow=hidden*/
/*div：position=absolute，height=100%，overflow-y=auto*/

.banner {
	/*height: 2.5rem;*/
	/*overflow: hidden;*/
	/*text-align: center;*/
}
.banner .banner_img{
	    width: 100%;
    height: 2.4rem;
    background-image: url(../img/banner1.png);
    background-repeat: no-repeat;
    background-size: 100% 2.9rem;
}
.banner .banner_info{
	    width: 94%;
    margin: .1rem auto;
    text-align: left;
    background: #fff;
    border-radius: 5px;
    height: 2.1rem;
    z-index: 1;
    position: relative;
    padding: 1em;
}
.banner_info .fair-more{
	color: #9E9E9E;
    text-align: right;
    background-color: #ffffff;
    z-index: 2;
    /* border-radius: 5vh 0 0 5vh; */
    font-size: 0.7em;
    border-top: 1px solid #eee;
    position: absolute;
    right: 0em;
    bottom: 0;
    width: 90%;
    margin: 0 1.7em 0.2em 1.7em;
    height: 1.6em;
    line-height: 1.6em;
}
.banner_info .timer {
	 color: #fff;
    text-align: left;
    background-color: #2DC1B7;
    z-index: 2;
    border-radius: 5vh 0 0 5vh;
    font-size: 0.7em;
    position: absolute;
    right: 0;
    top: 14%;
    padding: 0 0.5em 0 1em;
    height: 1.6em;
    line-height: 1.6em;
}

/*.banner_info .timer .title {
	display: block;
	margin: 0px;
	font-size: 19px;
	color: #fff;
	line-height: 40px;
	box-shadow: 0 3px 6px rgba(6, 0, 1, .05);
}*/
.banner_info .timer .time{
	font-size: 20px;
	margin-top: 13px;
	color: #fff;
}
.banner_info .timer .time span {
	margin: 0 4px 0 4px;
	background: #f8f8f8;
	border: 5px solid #f8f8f8;
	border-radius: 5px;
	color: #1e9fff;
}
.banner_info .fair-info{
	    font-size: 0.7em;
	    float: left;
	    /* margin: 1.2em; */
	    height: 100%;
	    line-height: 1.5em;
} 
.fair-info .title{
	display: inline-block;
}

.main{
	/*width: 100%;*/
	margin: 0 2%;
    /*background: #e6f9f2;*/
    background-color: rgba(230, 249, 242, 0.5);;
    padding: .1rem;
	position: relative;
    overflow-y:auto;}

.change_hall{
	/*position: absolute;
    z-index: 1;*/
    /*position: fixed;
    z-index: 200;
    width: 100%;
    top: .9rem;
    left: 0;*/
}
.change_hall .hall_company, .change_hall .hall_personal {
  	 float: left;
    width: 50%;
    line-height: 40px;
    padding: 0 10px 0 10px;
    font-size: 18px;
    /* background-color: #fff; */
    color: #fff;
    height: 40px;
   	background: #E6F9F2;
	color: #2DC1B7;
    /* background: #eaf4f8; */
    border: 1px solid #2DC1B7;
    /*border-bottom: none;*/
    /* background-image: url(img/121.png); */
    /* background-size: 24px; */
    /* background-repeat: no-repeat; */
    /* background-position: 6px 10px; */
    /* margin-right: 5px; */
    /*border-radius: 4px 4px 0 0;*/
    cursor: pointer;
    }
.change_hall .hall_company{
	border-radius: 0px 4px 4px 0;

}
.change_hall .hall_personal{
	border-radius: 4px 0px 0 4px;	
}
.change_hall .change_active{background-color: #2DC1B7;color: #fff;
	rgba(56, 81, 76, .12) 0 1px 10px 1px;
}

/*主体*/
.main_list{
	height: 1000px;
}
.main_list-jobs .item {
	position: relative;
    width: 100%;
    /*height: 100%;*/
    max-width: 650px;
    margin-top: 1em;
        padding: 0.7em;
    /* margin-left: 10px; */
    /*float: left;*/
    background: #fff;
    border-radius: 7px;
}

.main_list-jobs .item:hover {
	box-shadow: rgba(56, 81, 76, .12) 0 0 10px 0;
}

.main_list-jobs .item input:hover {
	background-color: #92dcd8;
	color: #00867c;
}
/*公司logo*/
.main_list-jobs .item_left{
	    height: 100%;
    display: inline-block;
    width: 26%;
    float: left;
}

.main_list-jobs .item_left .com_logo{
	 width: 100%;
    padding-right: 10px;
}
.main_list-jobs .item_left .com_logo-img{
	width: 100%;
	height: 21vw;
}
.main_list-jobs .status_online,.main_list-jobs .status_outline{
	color: #fff;
    text-align: left;
    z-index: 2;
    border-radius: 0 5vh 5vh 0;
    font-size: 0.7em;position: absolute;left: 0;top: 54%;padding: 0 1em 0 0.5em;height: 1.6em;line-height: 1.6em;}
.main_list-jobs .status_online{	background-color: #2DC1B7;}
.main_list-jobs .status_outline{background-color: #fefefe;}
.main_list-jobs .item_right {
	    position: relative;
    /* margin: 0px 6px 0 10px; */
    text-align: left;
    /* float: left; */
    background-size: 85% 31px;
    background-position: 48% 0;
    /*height: 220px;*/
    width: 74%;
    display: inline-block;
    padding: 0.6em;
        padding-top: 0;
    font-size: 0.8em;
}
.main_list-jobs .item_right a {
	color: #000;
    padding: 4px 0;
    border-bottom: 1px dashed #d9efe5;
    display: inline-block;
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .1rem;
    text-decoration: none;
}


.main_list-jobs .item_right .right_top{
	
}
.main_list-jobs .right_top .com_name{
	font-weight:bold ;
    text-align: left;
    font-size: 1.5em;
    height: 1.5em;
}
.main_list-jobs .right_top .com_info{
	    font-size: 0.8em;
    line-height: 1.6em;
}
.main_list-jobs .right_top .com_tag{
		margin-top: 0.7em;
    white-space: nowrap;
    width: 100%;
    overflow: scroll;
}
.main_list-jobs .com_tag::-webkit-scrollbar {
    display: none;
}
.main_list-jobs .right_top .com_tag span {
		display: inline-block;
    /* width: 61px; */
    height: 1.4em;
    padding: 0 5px;
    font-size: 0.2em;
    line-height: 1.4em;
    color: #00867c;
    border: 1px solid #00867c;
    border-radius: 3px;
    text-align: center;
    /* margin-right: 0em; */
    background: #fff;
	}

.main_list-jobs .item_right .right_bottom{
	height: 1.5rem;
	/*height: 200px;*/
	overflow: hidden;
}
.main_list-jobs .right_bottom span {
	/*float: right;*/
}
.right_bottom .jobs_all{
	    position: absolute;
    bottom: -0.8em;
    white-space: nowrap;
    border-top: 1px solid #d9efe5;
    padding: 0.1em 0;
    width: 100%;
}
#startJob{color: #2DC1B7;}
.right_bottom input{
	    background-color: #2dc1b7;
    color: #fff;
    width: 50%;
    font-size: 1.4em;
    border-radius: 5px;
    margin: 0.2em 25%;
    }



/*招聘大厅-职位卡片-功能区*/

.item_functional {
	display: none;
	margin: 100px 0 0 0;
	position: relative;
}
.item_functional .functional_btn {
	position: relative;
	top: 0;
	width: 100%;
	height: 50px;
	background: #fff;
	border: 1px solid #e6f9f2;
	box-sizing: border-box;
}

.item_functional .functional_btn input {
	color: #fff;
}

.item_functional .functional_btn div {
	cursor: pointer;
}

.item_functional .social-btn {
	background-color: #2DC1B7;
	width: 64px;
	height: 21px;
	text-align: center;
	position: absolute;
	border-radius: 5px;
	top: -25px;
	left: 51%;
}

.item_functional .video-btn,
.item_functional .online-social-btn,
.item_functional .apply-jobs-btn {
	width: 32px;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	/*height: 32px;
    position: relative;
    top: 11px;*/
	height: 100%;
	width: 30%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 21px 10px;
	background-size: 26px;
}

.item_functional .apply-jobs-btn {
	/*width: 30%;*/
	right: 18%;
	background-image: url(../img/130-1.png);
	background-repeat: no-repeat;
	background-position: 21px 10px;
}

.item_functional .video-btn {
	left: 49%;
	top: 11px;
	background-image: url(../img/124.png);
	background-size: 27px;
	/*background-position: 2px 1px;*/
}

.item_functional .video-btn:hover {
	/*background-color: #2DC1B7;*/
	background-image: url(../img/125.png);
	background-size: 27px;
}

.item_functional .online-social-btn:hover {
	/*background-color: #2DC1B7;*/
	background-image: url(../img/1233.png);
}

.item_functional .apply-jobs-btn:hover {
	background-image: url(../img/131.png);
	;
}

.item_functional .online-social-btn {
	right: 32%;
	background-image: url(../img/123.png);
}

.main_list-jobs .item .idly {
	background: #92dcd8;
	color: #00867c;
}

.main_list-jobs .item .busy {
	background-color: #f7f1ba;
	color: #FFCC00;
}

.main_list-jobs .item .hot {
	background-color: #fbeeee;
	color: #ff0000;
}


