* {
	
    margin:0;
    padding:0;
 

}


/*
			 红：	#bd362f
			 黄：	#F89406
			 绿： 	#51A351
			 * */

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "Hiragino Sans GB", "Microsoft Yahei", SimSun, Arial, "Helvetica Neue", Helvetica;
	color: #333;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
}

body a {
	text-decoration: none;
}
body input{
	border: none;
	cursor: pointer;
}
body input:focus{
	outline: none;
}
/*切换组*/
 .change_role{
 	margin-bottom: -20px;
     margin-right: 5%; 
    float: right;
    width: 95%;
    /* background: #1892E8; */
    text-align: left;
    border-bottom: 10px solid #e6f9f2;
	
	/*background: #1892E8;*/

    /*position: relative;
    right: 390px;*/
    /* height: 120px; 
    /*top: 50px;
    z-index: 2;*/
    /*background: url(img/121.png) no-repeat 103px 12px;*/
    }
.change_role img{
	
}
.change_role .role_company,.role_personal{
	display: inline-block;
    /* float: right; */
    width: 130px;
    line-height: 40px;
    padding: 0 10px 0 10px;
    font-size: 18px;
    height: 40px;
    background-color: #2dc1b7;
    /* background-image: url(img/121.png); */
    /* background-size: 24px; */
    /* background-repeat: no-repeat; */
    /* background-position: 6px 10px; */
    color: #FFFFFF;
    /* margin-right: 5px; */
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}
.change_role .role_personal{
  	background-color: #e6f9f2;
  	color: #00867c;
  	/*background: url(img/119.png) no-repeat;*/
}
.container {
	/*min-width: 1240px;*/
	min-width: 1400px;
	width: 100%;
	position: relative;
	/* top: -153px; */
	padding-top: 20px;
	/* border-radius: 5px; */
	/*background: #fff;*/
	/* margin: 0 20px; */
	/* box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);*/
}

.container .container-fix {
	/*width: 1300px;*/
	/*margin: 0 auto;*/
	min-width: 1360px;
	/*background: #fff;*/
	padding-bottom: 10px;
}

:root {
	--zi: #000;
	--timerBG: #fff;
	/*--timerColor:#5A9CD9;*/
	--timerColor: #19467d;
}
/*切换大厅*/
.change_hall{
	margin-bottom: -20px;
    margin-right: 16%;
    width: 84%;
    float: right;
    /* background: #1892E8; */
    text-align: left;
    border-bottom: 10px solid #e6f9f2;
	
	/*background: #1892E8;*/

    /*position: relative;
    right: 390px;*/
    /* height: 120px; 
    /*top: 50px;
    z-index: 2;*/
    /*background: url(img/121.png) no-repeat 103px 12px;*/
    }
.change_hall img{
	
}
.change_hall .hall_company,.change_hall .hall_personal{
	display: inline-block;
    /* float: right; */
    width: 130px;
    line-height: 40px;
    padding: 0 10px 0 10px;
    font-size: 18px;
    /*background-color: #fff;*/
    color: #00867c;
    height: 40px;
    /*background: #eaf4f8;*/
    border: 1px solid #e6f9f2;
    border-bottom: none;
    /* background-image: url(img/121.png); */
    /* background-size: 24px; */
    /* background-repeat: no-repeat; */
    /* background-position: 6px 10px; */
    /* margin-right: 5px; */
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}
/*.change_hall .hall_personal{
  	background-color: #e6f9f2;
  	color: #00867c;
}*/
.change_hall .hall_personal:hover{
  	background-color: #e6f9f2;
}
.change_hall .hall_company:hover{
	background: #EAF4F8;
}
.change_active_c{
	background: #fff;
}
.change_active_a{
	background: #EAF4F8;
}
.change_active_b{
	background: #E6F9F2;
}
/*倒计时和信息板*/
.line{
	float: left;
    width: 1px;
    height: 26px;
    background: #e6e6e6;
    margin-top: 10px;
}
.container .main_left {
	width: 300px;
	/*min-height: 1700px;*/
	float: left;
	margin-right: 15px;
}

.main_left-fix {
	margin: 0 auto;
}

.main_left .main_left-fix .left_one {
	/*display: none;*/
	/*background: url(img/gon.png) no-repeat;
			    background-size: 230px;
			    background-position: -4px -55px;*/
	/*position: relative;*/
	/*height: 330px;*/
	padding: 20px 10px 10px 10px;
	color: #000;
}

.left_one .left_bg {width: 100%;}
.left_one input{display: block;padding-top: 5px;color: #1e9fff;background-color: #fff;}

.left_one .fair-timer {
	text-align: center;
    /* position: absolute; */
    /* top: 15px; */
    /* left: 730px; */
   	margin:0 12px ;
    height: 97px;
    text-align: center;
    background-color: #95c5e8;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}
.fair-timer .title {
	display: block;
	margin: 0px;
	font-size: 19px;
	color: #fff;
	line-height: 40px;
	/*border-bottom: 5px solid #bd362f;*/
	box-shadow: 0 3px 6px rgba(6, 0, 1, .05);
}
.fair-timer .timer {
	/*line-height: 2;
			    font-size: 12px;
			    margin: 0 15px;
			    margin-top: 13px;
			    border: 5px solid #fff;
			    background: rgba(0,0,0,0.4);
			    color: var(--zi);*/
	font-size: 20px;
	margin-top: 13px;
	color: #fff;
}

.fair-timer .timer span {
	margin: 0 4px 0 4px;
    background: #f8f8f8;
    border: 5px solid #f8f8f8;
    border-radius: 5px;
    color: #1e9fff;
}

.fair-info {
	/*position: absolute;*/
	z-index: 1;
	/* margin-top: 13px; */
	/*color: #00c1b3;*/
	/*background-color: #fdea8b;*/
	/*border: 1px solid #ccc;*/
	/*background-color: #5a9cd9;*/
	color: #000;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
	/*width: 182px;*/
	height: 260px;
	margin: 0 12px;
	padding-top: 10px;
	padding-left: 13px;
	top: 100px;
	left: 12px;
}

.fair-info .title {
	display: inline-block;
	margin-right: 10px;
	float: left;
	padding: 0;
	border: none;
}

.fair-info span {
	display: inline-block;
	width: 180px;
}

.fair-info div {
	padding: 5px 0;
	margin-right: 20px;
	border-bottom: 1px dashed #a4b3ca;
	/*border-bottom: 1px dashed #a28c8c;*/
}
/*信息表格*/

.left_two,.left_three {
	/*width: 100%;*/
	margin: 10px 0 0 20px;
	/*margin-top: 10px;*/
}

.left_two .data_table {
	/*background: #2FC058;*/
	height: 300px;
	border: 1px solid #ccc;
    padding: 4px;
}
.left_two #main_1 {
	/*width: 100%;*/
	height: 300px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.left_two #main_1 canvas {
	border-radius: 5px;
}
/*左侧广告位*/
.left_three{
	margin-top: 100px;
}
.left_three .AD_box .AD_two,.left_three .AD_box .AD_one{
	margin-top: 20px;
	padding-right: 2px;
    padding-bottom: 2px;
    vertical-align: top;
}
.left_three a{
	    display: block;
}
.left_three img{
	display: block;
    width: 100%;
}
.left_three .AD_box .AD_one{
	
}

/*主体*/

.main_right {
	width: 100%;
	/* float: left; */
	/*margin-left: 10px;*/
	margin-top: 10px;
}


.main_right-fix {  
	  /*margin-top: 110px;*/
	  }

.container .realtime_data {
	/*background: #f89406;*/
	/*background: #2DC1B7;*/
	/*background: #ff8338;*/
	background:#f7a852;
	color: #fff;
	text-align: center;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	/*min-width: 1000px;*/
	min-width: 1080px;
	/*margin: 0 20px 0 306px;*/
}

.realtime_data .title {
	margin-left: 40px;
	float: left;
}

.realtime_data .text {
	float: left;
	    margin: 0 30px 0 10px;
}

.realtime_data .text span {
	margin: 0 4px 0 4px;
	background: var(--timerBG);
	border: 5px solid var(--timerBG);
	border-radius: 5px;
	/* font-size: 18px; */
	color: #FF8338;
}

.realtime_data span {
	/*color: red;*/
	color: #6c63ff;
}

#realtime_data {
	overflow: hidden;
	max-width: 1000px;
	min-width: 600px;
	height: 45px;
    position: relative;
    /*display: inline-block;*/
}

#roll_box {
	position: absolute;
	height: 45px;
	width: 1170px;
	right: -1150px;
}

#realtime_data span {
	/*position: absolute;*/
	margin-left: 25px;
	color: #fff;
	/*right: -100px;*/
}

.container .main_list {
	/*max-width: 1340px;*/
	padding: 0;
	margin-left: 315px;
	text-align: center;
	/*background-color: #fff;*/
}

.main_list-jobs {
}

.job_state {
	display: none;
	position: absolute;
	/*left: 11px;*/
	left: 3px;
	-webkit-transform: perspective(160px);
	transform: rotateX(180deg);
	top: 23px;
}

.job_state span {
	/*position: absolute;
				color: #fff;
				top: 20px;
				transform: rotate(223deg) rotateY(180deg);*/
	position: absolute;
	color: #fff;
	top: 24px;
	transform: rotate(223deg) rotateY(180deg);
	left: 8px;
}


/*信息板*/

.cut_wrod {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main_list-jobs .item {
	position: relative;
	width: 18.7%;
	max-width: 250px;
	height: 400px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
	background: #e6f9f2;
	border-radius: 7px 7px 0 0;
}
.main_list-jobs .item input:hover{
	background: #92dcd8;
	color:#00867c;
}

.main_list-jobs .item #social-btn{
    width: 64px;
    text-align: center;
    height: 21px;
    border-radius: 5px;
}


.main_list-jobs .item #video-btn,#online-social-btn{
    width: 30px;
   	width: 30px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    top: 33px;
    background-color: #2DC1B7;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    background-size: 24px;
}
.main_list-jobs .item #video-btn{
	left: 35px;
    background-image: url(img/124.png);
}
.main_list-jobs .item #video-btn:hover{
	background-color: #92dcd8;
}
.main_list-jobs .item #online-social-btn:hover{
	background-color: #92dcd8;
}
.main_list-jobs .item #online-social-btn{
    right: 140px;
    background-image: url(img/123.png);
}

.item_info {position: relative;/*margin: 0px 6px 0 10px;*/text-align: left;background: url(img/bg3.png) no-repeat;background-size: 170px 31px;background-position: 15px 0;height: 220px;padding: 30px 15px 0 15px;}
.item_info a {color: #fff;padding: 4px 0;border-bottom: 1px dashed #d9efe5;display: block;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.item_info span {float: right;}
.item_info .item_title {width: 100%;height: 33px;/*background: #2DC1B7;margin-top: 23px;line-height: 41px;text-align: center;padding-left: 10px;color: #fff;font-size: 16px;font-weight: 600;text-shadow: 1px 1px #333;*/}
.item_info .item_title span {}
.item_info .item_info_fix {cursor: pointer;width: 100%;height: 280px;background: #92dcd8;}
.item_info .item_info_fix .item_info_box {height: 160px;padding: 0 10px;overflow: hidden;}
.item_info .item_info_fix .item_info_box a p {display: inline-block;width: 95px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0;}
.item_info .item_info_fix .item_info_box .com_name {height: 30px;background: #92dcd8;text-align: center;color: #00867c;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-weight: 600;/*text-shadow: 1px 1px #333;*/}
.item_info .item_info_fix .item_info_box .com_name span {float: none;text-align: center;}
.item_info .more-btn {text-align: center;}
.item_info .more-btn input {width: 100px;margin: 0;margin-right: 10px;font-size: 12px;background: #92dcd8;color: #fff;}
/*.item_info a:last-child{border-bottom: 1px dashed #d9efe5;}*/

.item_info_fix .details_box {
	display: none;
	z-index: 19891015;
	width: 100%;
	height: 100%;
	background-color: #B3B3B3;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
	/* 只支持IE6、7、8、9 */
}

.item_info_fix .details {
	display: none;
	background-color: #FFFFFF;
	z-index: 11;
	width: 200px;
	height: 200px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
/*招聘大厅-职位卡片-功能区*/
.item_functional{
	margin: 100px 0 0 0;
    background-color: #000;
    position: relative;
}

.item_functional .functional_bg{
	position: relative;
    left: 50%;
}
.item_functional .functional_bg .img_table{
    height: 80px;
    position: absolute;
    left: -80px;
    width: 160px;
    top: -30px
}
.item_functional .functional_bg .img_boy, .img_girl {
   	width: 60px;
    height: 76px;
    position: absolute;
    bottom: 28px;
}
.item_functional .functional_bg .img_boy{
	    left: -61px;
}
.item_functional .functional_bg .img_girl{
	    left: 3px;
}
.item_functional .functional_btn{
	    position: relative;
	    top: 0;
	    /*left: 50%;*/
	    width: 100%;
	    height: 50px;
	    background: #fffde7;
}
.item_functional .functional_btn input {
	background: #2DC1B7;
	color: #fff;
}
.item_functional .functional_btn span{
	width: 30%;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    display: block;
    border-radius: 5px;
    position: relative;
    top: -19px;
    left: 35%;
    text-align: center;
}
.item_functional .functional_btn #social-btn{
       width: 64px;
    height: 21px;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    top: -25px;
    left: 51%;
}
.main_list-jobs .item #video-btn,#online-social-btn{
    width: 30px;
   	width: 30px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    position: relative;
    top: 11px;
    background-color: #2DC1B7;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    background-size: 24px;
}
.main_list-jobs .item #video-btn{
	left: 34%;
    background-image: url(img/124.png);
}
.main_list-jobs .item #video-btn:hover{
	background-color: #92dcd8;
	/*color:#00867c;*/
}
.main_list-jobs .item #online-social-btn:hover{
	background-color: #92dcd8;
	/*color:#00867c;*/
}
.main_list-jobs .item {
}
.item_functional .functional_btn #online-social-btn{
	right: 34%;
    background-image: url(img/123.png);
}
.item_functional .functional_btn{
	
}
.social-box {
	position: absolute;
	/* left: -80px; */
	height: 90px;
	bottom: -165px;
	/*left: 69px;*/
	left: 50%;
}

.social-btn {
	position: absolute;
	margin: 0 auto;
	width: 100px;
	left: 3px;
	top: -2px;
}



.social-btn span {
	    width: 60px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    display: block;
    border-radius: 5px;
    position: absolute;
    top: 33px;
    left: -33px;
    text-align: center;
}
.social-btn-bottom{
	width: 100%;
    height: 40px;
}
/*.img_boy,
.img_girl {
	width: 60px;
	height: 76px;
	position: absolute;
	bottom: 94px;
}*/

.img_boy {
	left: -57px;
}

.img_girl {
	left: 5px;
}

.img_table {
	height: 80px;
	position: absolute;
	right: -82px;
	width: 160px;
	top: -6px;
}

#haibao {}

.item .idly {
	background: #D1EDE2;
	color: #51A351;
}

.item .busy {
	background-color: #fffbe9;
	color: #FFCC00;
}

.item .hot {
	background-color: #fbeeee;
	/*color: #bd362f;*/
	color: red;
}

/*求职大厅(学生展示)*/
.main_list-person{padding-top: 40px;}
.main_list-person-fix{
	min-width: 1200px;
	background-color: #fff;
	    margin-top: -10px;
	/*background-image:url(img/pacifier.jpg) ;*/    
	/*background-color:#e6f9f2 ;*/
}
.main_list-person .item{
	    position: relative;
        width: 41%;
    max-width: 346px;
    /*width: 30%;
    max-width: 305px;*/
    min-width: 250px;
    /*max-width: 420px;*/
    /*height: 180px;*/
    margin-top: 10px;
    margin-right: 10px;float: left;padding: 10px;
    background: #eaf4f8;
    /*background: #2DC1B7;*/
    /*background: #2DC1B7; border-left: solid 2px #f6f6f8;*/
    border-radius: 5px;
}
.main_list-person .item .item_left,.main_list-person .item .item_right{
	float: left;
	display: inline-block;
	height: 100%;
}
.main_list-person .item .item_left{
		width: 25%;
		margin-right: 10px;
}
.main_list-person .item .item_left .left_p_logo{
	/*width:100px;
	height:100px;*/
	/*padding: 10px;*/
	/*border: 1px solid #ccc;
	border-radius: 50%;*/
}
.main_list-person .item .item_left .left_p_logo img{
	border-radius: 50%;
	/*width:80px;*/
	/*height:80px;*/
}
.main_list-person .item .item_left .left_p_name{
	    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}
.main_list-person .item .item_right{
	width: 68%;
	text-align: left;
	padding-left: 10px;
} 
.main_list-person .item .item_right .right_tag{
	height: 66px;
	    /*max-height: 66px;*/
	overflow: hidden;
}
.main_list-person .item .item_right .right_tag span{
	display: inline-block;
    height: 25px;
    border-radius: 30px;
    background: #649ce5;
    cursor: pointer;
    margin-top: 8px;
    /* text-align: center; */
    line-height: 25px;
    font-size: 12px;
    padding: 0 12px;
    color: #fff;
}

.main_list-person .item .item_right .right_tag span:nth-child(odd){
	background: #649ce5
}
.main_list-person .item .item_right .right_tag span:nth-child(even){
	background: #2DC1B7
}
.main_list-person .item .item_right .right_tag span:nth-child(even){
	background: #2DC1B7
}
.main_list-person .item .item_right .right_info{
	line-height: 25px;
    height: 75px;
    padding: 5px 0 0 3px;
}
.main_list-person .item .item_right .right_info span{
	display: block;
	font-size: 14px;
}
.main_list-person .item .item_right .right_btn{
	
}
.main_list-person .item .item_right .right_btn input{
	    display: inline-block;
    height: 30px;
    width: 130px;
    border-radius: 30px;
    background: #6272dc;
    cursor: pointer;
    margin-top: 8px;
    /* text-align: center; */
    line-height: 30px;
    padding: 0 13px;
    color: #fff
}
.main_list-person .item .item_right .right_btn input:hover{background:#7c89e2;}
.main_list-person .item
/*底部分页*/

.main_list-page {
	height: 70px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #eaeaea;
}

.main_list-page ul {
	list-style: none;
	text-align: center;
	margin: 35px 0 30px 0;
}

.main_list-page ul li {
	list-style: none;
	cursor: pointer;
	display: inline-block;
	line-height: 30px;
	margin: 0 10px 10px 0;
	padding: 0 10px;
	background: #ebebeb;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	transition: .2s;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

[clearfix] {
	zoom: 1;
}

[clearfix]:after {
	clear: both;
}

[clearfix]:after,
[clearfix]:before {
	content: '';
	display: table;
}


/*头部*/

.header {
	box-sizing: border-box;
	background-size: 100% 240px;
	/*background: url(img/banner1.jpg) no-repeat 0px 0px;*/
	background:url(img/114.jpg) no-repeat 0px 0px;
	background-size: cover;
    height: 290px;;
	min-width: 1400px;
	width: 100%;
}

.header_search {
	float: right;
	/*display: inline-block;
	position: relative;
	top: -15px;*/
	/*padding-top: 7px;*/
}

.search_box {
	/*margin: 0 14px;*/
	margin: 0 14px;
    padding: 8px 0;
    box-sizing: border-box;
    height: 45px;
}

.search_box .search_box-fix {
	padding-left: 10px;
	background: #fff;
    height: 30px;
    border-radius: 7px;
    /*margin-top: 10px;*/
    line-height: 1;
}
.search_box .search_box-fix .line{margin:2px 0 0 3px;}
.search_input {
	/*border: 1px solid #eee;*/
	/*border-radius: 7px 0 0px 7px;*/
	/*width: 730px;*/
	/*width: 200px;*/
	    /*height: 45px;
    line-height: 42px;*/
	float: left;
	/*display: inline-block;*/
}

.search_input input {
	border: 2px solid #fff;
	height: 26px;
	width: 230px;
	background: #fff;
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
}

.search_btn {
	height: 30px;
	line-height: 1;
	background: #fff;
	position: static;
	margin: 0;
	width: 90px;
	/*line-height: 50px;*/
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
	text-align: center;
	font-size: 17px;
	letter-spacing: 6px;
	color: #ff8338;
	cursor: pointer;
	border: none;
}
.search_btn:hover{
	background: #FFCC00;
}
/*-------弹出层-------*/
body .layer-dudu-class{background: #fff;color: #92dcd8;}
/*body .layer-dudu-class .layui-container{color:#fff}
body .layui-container img{
 	position: fixed;
 	bottom: 0;
 }*/
