/* radio */

label.bui-radios-label input {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

label.bui-radios-label .bui-radios {
	display: inline-block;
	position: relative;
	width: 13px;
	height: 13px;
	background: #FFFFFF;
	border: 1px solid #979797;
	border-radius: 50%;
	vertical-align: -2px;
}

label.bui-radios-label input:checked+.bui-radios:after {
	position: absolute;
	content: "";
	width: 7px;
	height: 7px;
	background-color: #fff;
	border-radius: 50%;
	top: 3px;
	left: 3px;
}

label.bui-radios-label input:checked+.bui-radios {
	background: #00B066;
	border: 1px solid #00B066;
}

label.bui-radios-label input:disabled+.bui-radios {
	background-color: #e8e8e8;
	border: solid 1px #979797;
}

label.bui-radios-label input:disabled:checked+.bui-radios:after {
	background-color: #c1c1c1;
}

label.bui-radios-label.bui-radios-anim .bui-radios {
	-webkit-transition: background-color ease-out .3s;
	transition: background-color ease-out .3s;
}


/* checkbox */

label.bui-checkbox-label input {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

label.bui-checkbox-label .bui-checkbox {
	display: inline-block;
	position: relative;
	width: 13px;
	height: 13px;
	background: #FFFFFF;
	border: 1px solid #979797;
	border-radius: 2px;
	vertical-align: -2px;
}

label.bui-checkbox-label input:checked+.bui-checkbox:after {
	color: #FFFFFF;
	font-family: iconfont;
	content: "\e600";
	width: 13px;
	height: 13px;
	font-size: 13px;
	line-height: 13px;
	position: absolute;
	top: 1px;
	left: 0;
}

label.bui-checkbox-label input:checked+.bui-checkbox {
	background: #00B066;
	border: 1px solid #00B066;
}

label.bui-checkbox-label input:disabled+.bui-checkbox {
	background-color: #e8e8e8;
	border: solid 1px #979797;
}

label.bui-checkbox-label input:disabled:checked+.bui-checkbox:after {
	color: #c1c1c1;
}

label.bui-checkbox-label.bui-checkbox-anim .bui-checkbox {
	-webkit-transition: background-color ease-out .3s;
	transition: background-color ease-out .3s;
}

label.bui-switch-label input {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

label.bui-switch-label input:checked {
	border-color: #64bd63;
	box-shadow: #64bd63 0 0 0 16px inset;
	background-color: #64bd63;
}

label.bui-switch-label input:checked:before {
	left: 27px;
}

label.bui-switch-label input:disabled+.bui-switch {
	background-color: #e8e8e8;
	border: solid 1px #dfdfdf;
}

label.bui-switch-label input:disabled+.bui-switch:before {
	background-color: #c1c1c1;
}

label.bui-switch-label input:disabled:checked+.bui-switch {
	background-color: #e8e8e8;
	box-shadow: #e8e8e8 0 0 0 16px inset;
	border: solid 1px #dfdfdf;
}

label.bui-switch-label input:disabled:checked+.bui-switch:before {
	background-color: #c1c1c1;
}

label.bui-switch-label .bui-switch {
	margin-top: 4px;
	width: 30px;
	height: 15px;
	position: relative;
	border: 1px solid #dfdfdf;
	background-color: #fdfdfd;
	box-shadow: #dfdfdf 0 0 0 0 inset;
	border-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-clip: content-box;
	display: inline-block;
	-webkit-appearance: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}

label.bui-switch-label .bui-switch:before {
	content: '';
	width: 13px;
	height: 13px;
	position: absolute;
	top: 1px;
	left: 1px;
	border-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

label.bui-switch-label input:checked+.bui-switch {
	border-color: #64bd63;
	box-shadow: #64bd63 0 0 0 16px inset;
	background-color: #64bd63;
}

label.bui-switch-label input:checked+.bui-switch:before {
	left: 15px;
}

label.bui-switch-label.bui-switch-anim {
	-webkit-transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
	transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

label.bui-switch-label.bui-switch-anim .bui-switch:before {
	-webkit-transition: left 0.3s;
	transition: left 0.3s;
}

label.bui-switch-label.bui-switch-anim input:checked+.bui-switch {
	box-shadow: #64bd63 0 0 0 16px inset;
	background-color: #64bd63;
	-webkit-transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
	transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

label.bui-switch-label.bui-switch-anim input:checked+.bui-switch:before {
	-webkit-transition: left 0.3s;
	transition: left 0.3s;
}

label.bui-switch-label.bui-switch-animbg {
	-webkit-transition: background-color ease 0.4s;
	transition: background-color ease 0.4s;
}

label.bui-switch-label.bui-switch-animbg .bui-switch:before {
	-webkit-transition: left 0.3s;
	transition: left 0.3s;
}

label.bui-switch-label.bui-switch-animbg input:checked+.bui-switch {
	box-shadow: #dfdfdf 0 0 0 0 inset;
	background-color: #64bd63;
	-webkit-transition: border-color 0.4s, background-color ease 0.4s;
	transition: border-color 0.4s, background-color ease 0.4s;
}

label.bui-switch-label.bui-switch-animbg input:checked+.bui-switch:before {
	-webkit-transition: left 0.3s;
	transition: left 0.3s;
}

#table-opt {
	position: absolute;
	top: 30px;
	right: 0;
	max-width: 400px;
	text-align: left;
	margin: 0px;
	font-size: 14px;
	color: #098b81;
	line-height: 40px;
	background: #fff;
	box-shadow: 0 3px 6px rgba(6, 0, 1, .05);
	padding: 0 10px;
}

#table-opt .opt-item {
	border-bottom: 1px solid #eee;
}

#table-opt .opt-item span {
	margin-top: 4px;
}

.interval {
	width: 50px;
	height: 9px;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.left_two {
	margin: 30px 0 0 20px;
	position: relative;
}

.left_two {
	min-width: 300px;
	height: 300px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
}

.left_two .data_table_title {
	text-align: center;
	margin: 0px;
	font-size: 19px;
	color: #098b81;
	line-height: 40px;
	box-shadow: 0 3px 6px rgba(6, 0, 1, .05);
}

.left_two .data_table {
	max-height: 300px;
	margin-bottom: 42px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	min-width: 280px;
}

.yAais {
	font-size: 12px;
	width: 11%;
	display: inline-block;
	text-align: right;
	float: left;
	margin-top: 0%;
	height: 200px;
	position: relative;
}

.yAais .ynumber {
	position: absolute;
	display: block;
	right: 0;
}

.xAais {
	position: relative;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	padding-left: 10px;
	margin-right: 0px;
	margin-left: 4px;
	width: 80%;
	display: inline-block;
	max-height: 240px;
}

.xAais .xitem {
	/*text-align: center;*/
	width: 17%;
	max-width: 60px;
	line-height: 0;
	display: inline-block;
	margin-bottom: -4px;
	max-height: 224px;
	transition: all 1.2s;
}

.xitem:hover {
	cursor: pointer;
}

.xitem:hover .xtext {
	color: #2dc1b7;
}

.xAais .xitem1 {
	height: 100px;
	background-color: #92dcd8;
}

.xAais .xitem2 {
	height: 20px;
	background-color: #2dc1b7;
}

.xAais .xitem3 {
	height: 30px;
	background-color: #2aaae3;
}

.xAais .xitem4 {
	height: 150px;
	background-color: #0d77a6;
}

.xAais .xitem5 {
	height: 80px;
	background-color: #ff5858;
}
.xAais .xbar {
	width: 16%;
	text-align: center;
	display: inline-block;
	position: absolute;
	color: #fff;
	text-shadow: 0 0 8px #89dff3, 0 0 6px #25292a;
}

.xAais .xtext {
	display: inline-block;
	position: absolute;
	bottom: -24px;
	margin-left: -12px;
}

.scrollbarH {
	width: 250px;
	height: 5px;
	background-color: #ccc;
	margin: 40px auto;
	position: relative;
}

#scroller {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 5px;
	border: 2px solid #8D8D8D;
	background-color: #fff;
	position: absolute;
	top: -7.5px;
}

#scroller:hover {
	background-color: #a6d2cf;
	border-color: #2DC1B7;
	cursor: pointer;
}

#table-data {
	position: relative;
	margin: 0 auto;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

#table-data th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

#table-data td input {
width: 90px;
}

#table-data td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
#addGidItem{
	position: absolute;
    right: -20px;
    top: 17px;
    font-weight: bold;
    color: #fff;
    height: 37px;
    background-image: url(../img/01.png);
    background-position: 1px 10.5px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    width: 20px;
    background-color: #03A9F4;
    border: none;
    border-radius: 0 7px 7px 0;
    box-shadow: 0 3px 6px rgba(6, 0, 1, .05);
}
#addGidItem:hover{
	background-color: #81d2f8;
}
/*# sourceMappingURL=radio-checkbox.css.map */